<nz-spin [nzSpinning]="loading" nzTip="Cargando...">
  <div class="page-header">
    <h1 class="page-title">Información personal</h1>
    <button nz-button nzType="primary" (click)="updateData()" class="button">Actualizar</button>
  </div>
  <div class="user-avatar">
    <i nz-icon nzType="user" nzTheme="outline"></i>
  </div>
  <div class="user-details">
    <form nz-form [formGroup]="userForm" nzLayout="vertical">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 16, lg: 16 }">
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzFor="name" nzRequired>Nombres</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTip">
              <input nz-input id="name" formControlName="name" placeholder="Nombres" #displayName />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzFor="lastName" nzRequired>Apellidos</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTip">
              <input nz-input formControlName="lastName" id="lastName" placeholder="Apellidos" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzFor="rol" nzRequired>Rol</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTip">
              <nz-select nzId="rol" formControlName="rol" nzPlaceHolder="selecciona un rol">
                <nz-option [nzValue]="role.value" *ngFor="let role of roles" [nzLabel]="role.text"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzFor="documentType" nzRequired>Tipo de identificación</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTip">
              <nz-select nzId="documentType" formControlName="documentType" nzPlaceHolder="Tipo de identificación">
                <nz-option [nzValue]="document.value" *ngFor="let document of documentTypes"
                  [nzLabel]="document.text"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzFor="documentId" nzRequired>No. de identificación</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTip">
              <input nz-input formControlName="documentId" id="documentId" placeholder="Número de identificacion" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzFor="email" nzRequired>Correo</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTip">
              <input nz-input formControlName="email" id="email" placeholder="example@correo.com" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzFor="phoneNumber" nzRequired>Teléfono</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTip">
              <input nz-input formControlName="phoneNumber" id="phoneNumber" placeholder="Numero de celular" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
          <nz-form-item>
            <nz-form-label nzFor="address" nzRequired>Dirección</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTip">
              <input nz-input formControlName="address" id="address" placeholder="Cra 5 # 5 - 61" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <ng-template #errorTip let-control>
        <ng-container *ngIf="control.hasError('required')">Este campo es
          obligatorio</ng-container>
        <ng-container *ngIf="control.hasError('pattern')">formato de texto
          invalido</ng-container>
        <ng-container *ngIf="control.hasError('email')">Ingresa un correo válido</ng-container>
      </ng-template>
    </form>
  </div>
  <button nz-button nzType="link" (click)="resetPassword()" class="button">Cambiar contraseña</button>
</nz-spin>