<div class="page-header">
  <h1 class="page-title">{{userType}}</h1>
  <button nz-button nzType="primary" (click)="createUser()" class="button">Crear {{userType | lowercase}}</button>
</div>

<div class="table-container">
  <nz-table #table nzSize='small' [nzData]="users" [nzLoading]="loading" [nzPageSize]="8" class="nzTableResponsive"
    nzBordered nzTableLayout="fixed">
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumns; let indexElement = index" [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn"
          nzAlign="center" [nzWidth]="column.width" nzEllipsis>
          {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of table.data, let i = index">
        <td nzAlign="center" nzEllipsis>
          {{user.name | titlecase }}
        </td>
        <td nzAlign="center" nzEllipsis>
          {{user.lastName | titlecase }}
        </td>
        <td nzAlign="center" nzEllipsis>
          {{user.documentId | titlecase }}
        </td>
        <td nzAlign="center" nzEllipsis>
          {{user.email | titlecase }}
        </td>
        <td nzAlign="center" clas="btn-actions">
          <button nz-button nzType="link" (click)="updateUser(user)" class="button">
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>