<div class="page-header">
  <h1 class="page-title">Visitas técnicas</h1>
  <button nz-button nzType="primary" (click)="createMaintenance()" class="button">Agendar cita</button>
</div>

<nz-calendar [nzDateCell]="dateCell">
</nz-calendar>

<ng-template #dateCell let-date>
  <div *ngFor="let maintenance of maintenances">
    <ng-container *ngIf="maintenance.date!.toDateString() === date.toDateString()">
      <div class="small-text" style="font-size: 6px;">
        <nz-badge [nzStatus]="'processing'" [nzText]="maintenance.clientId + ' (' + maintenance.amount + ')'"></nz-badge>
      </div>
    </ng-container>
  </div>
</ng-template>
