<nz-layout class="app-layout">
    @if (user) {
    <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md"
        [nzCollapsed]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>Ant Design Of Angular</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="welcome">Welcome</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="recover-pass">recuperar contraseña</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a>Workplace</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a>Basic Form</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    }
    <nz-layout>
        @if (user) {
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                </span>
                <div class="avatar">
                    <div class="bell">
                        <nz-badge [nzCount]="notifications.length" (click)="goToNotifications()">
                            <span nz-icon nzType="bell"></span>
                        </nz-badge>
                    </div>
                    <div>
                        <button nz-button nzType="default" nzShape="round" title="Mi cuenta" (click)="logout()">
                            <span nz-icon nzType=" user"></span>
                            <span class="hide-on-mobile">
                                {{(user?.email ?? '') | uppercase}}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </nz-header>
        }
        <nz-content [ngClass]="user ? 'isSignIn': ''">
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>