<nz-layout class="app-layout">
    @if (user) {
    <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md"
        [nzCollapsed]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="../assets/images/logo.png" alt="logo">
            </a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="admins">Administradores</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="clients">Clientes</a>
                    </li>
                </ul>
            </li>
            <li nz-menu-item nzMatchRouter routerLink="account">
                <span nz-icon nzType="user" nzTheme="outline"></span>
                <span>Mi cuenta</span>
            </li>
            <li nz-menu-item (click)="logout()">
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                <span>Salir</span>
            </li>
        </ul>
    </nz-sider>
    }
    <nz-layout>
        @if (user) {
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                </span>
                <div class="avatar">
                    <!-- <div class="bell">
                        <nz-badge [nzCount]="notifications.length" (click)="goToNotifications()">
                            <span nz-icon nzType="bell"></span>
                        </nz-badge>
                    </div> -->
                    <div>
                        <span nz-icon nzType="user"></span>
                        <span class="hide-on-mobile">
                            {{(user?.email ?? '') | uppercase}}
                        </span>
                    </div>
                </div>
            </div>
        </nz-header>
        }
        <nz-content [ngClass]="user ? 'isSignIn': ''">
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>