<form nz-form [formGroup]="equipmentForm" nzLayout="vertical">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 16, lg: 16 }">
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzFor="serial" nzRequired>Serial</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTip">
          <input nz-input id="serial" formControlName="serial" placeholder="Serial" #displayName />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzFor="model" nzRequired>Model</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTip">
          <input nz-input formControlName="model" id="model" placeholder="Model" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzFor="rol" nzRequired>Marca</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTip">
          <nz-select nzId="rol" formControlName="brand" nzPlaceHolder="selecciona un rol">
            <nz-option [nzValue]="brand.value" *ngFor="let brand of brands" [nzLabel]="brand.text"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzFor="rentalValue" nzRequired>Valor renta</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTip">
          <input nz-input type="number" formControlName="rentalValue" id="rentalValue" placeholder="Valor renta" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 8 }">
      <nz-form-item>
        <nz-form-label nzFor="saleValue" nzRequired>Valor venta</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTip">
          <input nz-input type="number" formControlName="saleValue" id="saleValue" placeholder="Valor renta" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <ng-template #errorTip let-control>
    <ng-container *ngIf="control.hasError('required')">Este campo es
      obligatorio</ng-container>
    <ng-container *ngIf="control.hasError('pattern')">formato de texto
      invalido</ng-container>
    <ng-container *ngIf="control.hasError('email')">Ingresa un correo válido</ng-container>
  </ng-template>
</form>
<div *nzModalFooter>
  @if (equipment){
  <div>
    <span style="float:left;">Fecha de Creación: {{equipment.createdAt | date: 'dd/MM/YYYY h:mm a'}}</span>
  </div>
  }

  <button nz-button nzType="default" (click)="destroyModal()">Cancelar</button>
  <button nz-button nzType="primary" (click)="validateAction()" [nzLoading]="loadingButton">
    {{ isEditing ? "Actualizar" : "Crear" }}
  </button>
</div>