/* You can add global styles to this file, and also import other style files */
// Colores primarios
$primary-color-50: #fbe9e9;
$primary-color-100: #f4bdbe;
$primary-color-200: #ed9192;
$primary-color-300: #e66666;
$primary-color-400: #df3a3b;
$primary-color: #c92122;
$primary-color-600: #c52021;
$primary-color-700: #99191a;
$primary-color-800: #6e1213;
$primary-color-900: #420b0b;
// Colores secundarios
$secondary-color-50: #e0e6e6;
$secondary-color-100: #c1cccc;
$secondary-color-200: #a2b2b2;
$secondary-color-300: #839797;
$secondary-color-400: #648d8d;
$secondary-color: #748484; // Color secundario original
$secondary-color-600: #5b7272;
$secondary-color-700: #496060;
$secondary-color-800: #3b4c4c;
$secondary-color-900: #2d3939;

// Colores terciarios
$text-color-50: #f2f2f2;
$text-color-100: #d9d8d8;
$text-color-200: #c0bebe;
$text-color-300: #a7a5a5;
$text-color-400: #8e8b8b;
$text-color: #747171;
$text-color-600: #5a5858;
$text-color-700: #413f3f;
$text-color-800: #272626;
$text-color-900: #0d0d0d;


.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-title {
        font-size: 1.5rem;
    }

    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 1rem;
        padding: 0;

        .page-title {
            font-size: 0.6rem;
            white-space: normal;
            max-height: 2.5rem;
            text-overflow: ellipsis;
            line-height: 1.2;
        }

        button {
            font-size: 0.6rem;
        }
    }
}

.search-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button {
    border-radius: 1rem;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.scrolly {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    &.xs {
        max-height: 100px;
    }

    &.sm {
        max-height: 150px;
    }

    &.md {
        max-height: 200px;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 4px;
    }
}

@media screen and (max-width: 768px) {
    .table-responsive {
        font-size: 8px;
    }

    .button {
        border-radius: 1rem;
        font-size: small;
    }
}

td {
    max-width: 4rem;
    text-overflow: ellipsis;
}

.custom-file-upload {
    margin: auto;
    text-align: center;
    width: 100%;
    color: #ccc;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    padding: .27rem .5rem;
}

.span:hover {
    border-color: $primary-color;
    color: $primary-color;
    cursor: pointer;
}

.file-info {
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: .2rem;
    margin-top: .5rem;
}

.file-info span:first-child {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: .5rem;
}

.file-info span:last-child {
    cursor: pointer;
    color: $primary-color;
    ;
}

.center-button {
    margin: auto 0;
}